* { padding: 0; margin: 0;  }

body {
    background-color: #121212;

}



@font-face {
    font-family: futbol;
    src: url(fuentes/SoccerLeague.ttf);
}

@font-face {
    font-family: futbolMolde;
    src: url(fuentes/SoccerLeagueCollege.ttf);
}
.container { 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    min-height: 100vh;
    border: 1px solid black;
    background-color: #121212;

}

.left-side { 
    display: flex;
    flex-direction: column;
    grid-row: 1/-1;
    grid-column: 1/1;
    border: 1px solid black;
    height: 100vh;
}

.imgLeftSide { 
    height: 100vh;
    width: 50vw;
    border: 1px solid black;

}

.footer { 
    display: flex;
    grid-row: 3/3;
    justify-content: center;
    background-color: #121212;
    color: white;
    font-family: futbol;
    font-size: 1rem;
}

.rigth-side {
    display: flex;
    flex-direction: column;
    grid-row: 1/-1;
    border: 1px solid black;
    grid-column: 2/2;

}

.text { 
    display: flex;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: white;
    grid-row: 1/1;
    margin-top: 10%;
    margin-bottom: 20%;
    background-color: #e6007e;
    border-radius: 10px;
    padding: 20px;
}

form p {
    float: left;
    width: 40%;
    margin-left: 80px;

  }

.form label{ 
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    grid-row: 2/2;
    color: white;
    margin-bottom: 5px;

}

.form input{ 
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    grid-row: 2/2;
    justify-content: center;
    margin-bottom: 20px;
    background-color: rgb(2, 2, 2);
    border: 1px solid rgb(77, 77, 77);
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    padding: 10px;


}

input:focus{
    outline: none;
    border: 2px solid white;
}


.account {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #e6007e;;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    font-family: futbol;
    grid-row: 3/3;
    padding: 20px;
}

button:hover{
    background-color: #e6007e;;
    color: #121212;
    
}

.login { 
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    grid-row: 3/3;
    color: white;

}

.message { 
    display: flex;
    grid-row: 3/3;
    color: white;
    font-size: 20px;
}


